div.secondary-navigation {
    margin-bottom: 2rem;
    scroll-margin: 2rem;
    > div.secondary-navigation-tabs-container {
        display: flex;
        > div.secondary-navigation-tab {
            > span {
                margin-right: 3rem;
                color: var(--color-grey);
                cursor: pointer;
                font-size: 1.3rem;
                font-weight: semi-bold;
                &.active {
                    color: var(--fg);
                }
                &:hover {
                    color: var(--fg);
                }
            }
            > div.secondary-navigation-bottom-line {
                display: flex;
                margin-top: 0.8rem;
                > .secondary-navigation-bottom-line-black,
                > .secondary-navigation-bottom-line-grey {
                    height: 1px;
                }
                > .secondary-navigation-bottom-line-black {
                    background-color: var(--color-light-grey);
                    width: 3rem;
                    &.active {
                        background-color: var(--fg);
                    }
                }
            }
        }
    }
    > .secondary-navigation-bottom-line-grey {
        margin-top: -1px;
        background-color: var(--color-light-grey);
        height: 1px;
        flex: 1;
    }
}
