#secondary-navigation {
    margin-bottom: 2rem;
    scroll-margin: 2rem;
    > .secondary-navigation-tabs-container {
        > span {
            margin-right: 3rem;
            margin-bottom: 0.8rem;
            color: var(--color-grey);
            cursor: pointer;
            font-size: 1.3rem;
            font-weight: semi-bold;
            &.active {
                color: var(--fg);
            }
            &:hover {
                color: var(--fg);
            }
        }
    }

    > .secondary-navigation-bottom-line {
        > .secondary-navigation-bottom-line-black,
        > .secondary-navigation-bottom-line-grey {
            height: 1px;
        }
        > .secondary-navigation-bottom-line-black {
            background-color: var(--fg);
            width: 3rem;
        }
        > .secondary-navigation-bottom-line-grey {
            background-color: var(--color-light-grey);
            flex: 1;
        }
    }
}
