.resizable {
    width: 100%;
    > .resizable-col {
        position: absolute;
        top: 0;
        &.resizable-left {
            left: 0;
            width: calc(600px - 2rem - 8px);
        }
        &.resizable-right {
            right: 0;
            left: calc(600px + 1.4rem);
        }
    }
    > .resizable-drag {
        position: absolute;
        left: calc(600px - 4px - 1rem);
        top: 0;
        bottom: 0;
        width: 8px;
        cursor: col-resize;
        z-index: 1;
        > .resizable-drag-line {
            background-color: var(--fg);
            height: 100%;
            width: 1px;
            margin-left: 4px;
        }
    }
}
