div.work-block {
    text-align: left;
    margin-bottom: 2rem;
    > h2 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    > p {
        margin-block-start: 0.2em;
    }
    > div.work-block-bottom-line {
        height: 1px;
        width: 100%;
        background-color: var(--color-light-grey);
        margin-top: 2rem;
    }
}
