div.btn-circle-download {
    position: relative;
    height: 48px;
    width: 48px;
    margin: auto;
    border-radius: 100%;
    background: var(--color-light-grey);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
    margin-top: 3rem;
    margin-bottom: 1px;
    &:after {
        content: "";
        position: relative;
        display: block;
        width: 200%;
        height: 100%;
        background-image: linear-gradient(
            100deg,
            rgba(white, 0),
            rgba(white, 0.25),
            rgba(white, 0)
        );
        transform: translateX(-100%);
    }
    &:hover {
        > .arrow {
            background: none;
            > path,
            > polyline {
                stroke: var(--color-dark-pink);
            }
        }
        svg {
            background: rgba(248, 180, 196, 0.2);
        }
    }
    svg {
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        &.border {
            position: absolute;
            top: 0;
            left: 0;
            stroke: none;
            stroke-dasharray: 144;
            stroke-dashoffset: 144;
            transition: all 0.9s linear;
        }
        &.arrow {
            position: absolute;
            top: 14px;
            left: 17px;
            stroke: var(--color-grey);
            transition: all 0.2s ease;
            > path,
            > polyline {
                transition: all 0.2s ease;
            }
        }
        &.check {
            position: absolute;
            top: 17px;
            left: 13px;
            stroke: white;
            transform: scale(0);
        }
    }
    &.load {
        background: var(--color-light-pink);
        .arrow {
            path,
            polyline {
                stroke: var(--color-dark-pink);
            }
        }
        .border {
            stroke: var(--color-dark-pink);
            stroke-dasharray: 144;
            stroke-dashoffset: 0;
        }
    }
    &.done {
        background: var(--color-dark-pink);
        animation: rubberBand 0.8s;
        &:after {
            transform: translateX(50%);
            transition: transform 0.4s ease;
            transition-delay: 0.7s;
        }
        .border,
        .arrow {
            display: none;
        }
        .check {
            transform: scale(1);
            transition: all 0.2s ease;
            transition-delay: 0.2s;
        }
    }

    @keyframes rubberBand {
        from {
            transform: scale(1, 1, 1);
        }
        30% {
            transform: scale3d(1.15, 0.75, 1);
        }
        40% {
            transform: scale3d(0.75, 1.15, 1);
        }
        50% {
            transform: scale3d(1.1, 0.85, 1);
        }
        65% {
            transform: scale3d(0.95, 1.05, 1);
        }
        75% {
            transform: scale3d(1.05, 0.95, 1);
        }
        to {
            transform: scale3d(1, 1, 1);
        }
    }
}
