div.social-bar {
    &.has-margin-bottom {
        margin-bottom: 0.8rem;
    }
    > div.social-bar-message-container {
        width: 100%;
        height: calc(1rem + 2 * 0.8rem);
        position: relative;
        margin-bottom: 0.5rem;
    }
    > div.social-bar-icons {
        display: flex;
    }
}
