div.social-bar-message {
    background-color: var(--color-magnolia);
    color: var(--text-color-on-pattern);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(1rem);
    transition: all 300ms ease 200ms;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}
