.social-icon {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: var(--bg);
    transition: 0.5s;
    &:hover {
        > span:nth-child(1) {
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s;
        }
        > span:nth-child(3) {
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
        }
        > span:nth-child(2) {
            transform: scale(1);
            transform-origin: top;
            transition: transform 0.5s;
        }
        > span:nth-child(4) {
            transform: scale(1);
            transform-origin: bottom;
            transition: transform 0.5s;
        }
    }
    > span {
        position: absolute;
        transition: transform 0.5s;
        &:nth-child(1),
        &:nth-child(3) {
            width: 100%;
            height: 3px;
            background: var(--bg);
        }
        &:nth-child(1) {
            top: 0;
            left: 0;
            transform-origin: right;
        }

        &:nth-child(3) {
            bottom: 0;
            left: 0;
            transform-origin: left;
        }

        &:nth-child(2),
        &:nth-child(4) {
            width: 3px;
            height: 100%;
            background: var(--fg);
        }
        &:nth-child(2) {
            top: 0;
            left: 0;
            transform: scale(0);
            transform-origin: bottom;
        }

        &:nth-child(4) {
            top: 0;
            right: 0;
            transform: scale(0);
            transform-origin: top;
        }
    }

    &.github:hover {
        color: #ffc8dd;
    }
    &.github:hover span {
        color: #ffc8dd;
    }
    &.github {
        > span {
            &:nth-child(2),
            &:nth-child(4) {
                background: #ffc8dd;
            }
        }
    }
    &.linkedin:hover {
        color: #0a66c2;
    }
    &.linkedin:hover span {
        background: #0a66c2;
    }
    &.linkedin {
        > span {
            &:nth-child(2),
            &:nth-child(4) {
                background: #0a66c2;
            }
        }
    }
    &.mail:hover {
        color: #ea4335;
    }
    &.mail:hover span {
        background: #4285f4;
    }
    &.mail {
        > span {
            &:nth-child(2) {
                background: #34a853;
            }
            &:nth-child(4) {
                background: #fbbc05;
            }
        }
    }
    .instagram:hover {
        color: #c32aa3;
    }
    .instagram:hover span {
        background: #c32aa3;
    }
    .google:hover {
        color: #dd4b39;
    }
    .google:hover span {
        background: #dd4b39;
    }
    .twitter {
        color: #1da1f2;
    }
    a:hover:nth-child(3) {
        color: #c32aa3;
    }
    a:hover:nth-child(4) {
        color: #dd4b39;
    }
}
