#divider {
    background-attachment: fixed;
    background-size: 180px 180px;
    background-image: url("/img/pattern.png");
    background-repeat: repeat;
    background-color: var(--color-magnolia);
    > polygon {
        fill: var(--bg);
    }
}
