.animator-wrapper {
    position: relative;
    >.animator-invisible {
        opacity: 0;
    }
    >.animator-absolute {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}