div.animator-wrapper {
    position: relative;
    > div.animator-invisible {
        opacity: 0;
    }
    > div:global(.animator-absolute) {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
