@use "@/mixins.scss" as *;

div.intro-box-4 {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 1rem;
    max-height: calc(80vh / 2 - 4px);
    overflow: hidden;
    min-width: 20rem;
    position: relative;
    @include border-light-grey;
    > div.background-background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    > div.background {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-attachment: fixed;
        background-size: 180px 180px;
        background-repeat: repeat;
        background-color: var(--color-magnolia);
    }

    h1 {
        animation: letter-spacing-animation 0.6s ease-in 1s forwards;
        font-size: 3rem;
        margin-block: 0;
        font-weight: normal;
        text-shadow: -1px -1px 0 var(--color-magnolia),
            1px -1px 0 var(--color-magnolia), -1px 1px 0 var(--color-magnolia),
            1px 1px 0 var(--color-magnolia);
        color: var(--text-color-on-pattern);
    }
    .intro-box-4-h1-init {
        top: -9rem;
        animation: intro-box-4-h1-init 0.4s ease-in 0s forwards;
    }
    .intro-box-4-h1-exit {
        top: -9rem;
        animation: intro-box-4-h1-exit 0.4s ease-in 0s forwards;
    }
    .social-bar {
        margin-top: 0;
    }
    .intro-box-4-social-bar-init {
        top: 5rem;
        animation: intro-box-4-social-bar-init 0.4s ease-in 0s forwards;
    }
    .intro-box-4-social-bar-exit {
        top: 5rem;
        animation: intro-box-4-social-bar-exit 0.4s ease-in 0s forwards;
    }
}

@keyframes intro-box-4-h1-init {
    from {
        top: -9rem;
    }
    to {
        top: 0;
    }
}

@keyframes intro-box-4-h1-exit {
    from {
        top: 0;
    }
    to {
        top: -9rem;
    }
}

@keyframes intro-box-4-social-bar-init {
    from {
        top: 5rem;
    }
    to {
        top: 0;
    }
}

@keyframes intro-box-4-social-bar-exit {
    from {
        top: 0;
    }
    to {
        top: 5rem;
    }
}

@keyframes letter-spacing-animation {
    0% {
        letter-spacing: 0px;
    }
    100% {
        letter-spacing: 2px;
    }
}

@media only screen and (max-width: 768px) {
    div.intro-box-4 {
        margin-left: 0;
        width: 100%;
        box-sizing: border-box;
    }
}
