#intro-box-3 {
    padding: 1rem 3.5rem 1rem 1rem;
    overflow: hidden;
    h1 {
        text-orientation: unset;
        writing-mode: unset;
        transform: rotate(-90deg);
        letter-spacing: 4px;
        margin-block: 0;
    }
    .intro-box-3-h1 {
        animation: intro-box-3-h1-init 0.4s ease-in 0s forwards;
    }

    > #intro-box-3-content {
        img {
            width: 5rem;
        }
        h4 {
            margin-block-end: 0;
        }
        p {
            margin-block-end: 0;
            color: var(--fg);
        }
        .intro-box-3-content {
            animation: intro-box-3-content-init 0.4s ease-in 0s forwards;
        }
        .intro-box-3-tag {
            right: -21rem;
        }
    }
}

@keyframes intro-box-3-h1-init {
    from {
        right: 100px;
    }
    to {
        right: 0;
    }
}

@keyframes intro-box-3-content-init {
    from {
        right: -300px;
    }
    to {
        right: 0;
    }
}

@media only screen and (max-width: 768px) {
    #intro-box-3 {
        padding: 1rem;
        h1 {
            text-wrap: nowrap;
        }
    }
}
