#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex: 0 0 100%;
    color: var(--color-grey);
    > #intro-column-left {
        flex: 2 1 0;
        height: 100%;
        #intro-box-2 {
            margin-bottom: 10px;
        }
        #intro-box-3 {
            padding-right: 40px;
            overflow: hidden;
            h1 {
                text-orientation: unset;
                writing-mode: unset;
                transform: rotate(-90deg);
                letter-spacing: 4px;
                margin-block: 0;
            }
            .intro-box-3-h1 {
                animation: intro-box-3-h1-init 0.4s ease-in 0s forwards;
            }

            > #intro-box-3-content {
                img {
                    width: 5rem;
                }
                p {
                    margin-block-end: 0;
                }
                .intro-box-3-content {
                    animation: intro-box-3-content-init 0.4s ease-in 0s forwards;
                }
                .intro-box-3-tag {
                    right: -21rem;
                }
            }
        }
        #intro-box-4 {
            margin-left: 10px;
            border: none;
            max-height: calc(80vh / 2 - 4px);
            overflow: hidden;
            min-width: 20rem;
            position: relative;
            &:before {
                content: " ";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0.6;
                background-attachment: fixed;
                background-size: 180px 180px;
                background-image: url("/img/pattern.svg");
                background-repeat: repeat;
                background-color: var(--color-magnolia);
            }
            > #intro-box-4-content {
                position: relative;
                > h1 {
                    animation: letter-spacing-animation 0.6s ease-in 1s forwards;
                    font-size: 3rem;
                    margin-block: 0;
                    font-weight: normal;
                    text-shadow: -1px -1px 0 var(--color-magnolia),
                        1px -1px 0 var(--color-magnolia),
                        -1px 1px 0 var(--color-magnolia),
                        1px 1px 0 var(--color-magnolia);
                }
                > .social-bar {
                    margin-top: 0;
                    animation: intro-box-4-init 0.4s ease-in 0s forwards;
                }
            }
        }
    }

    > #intro-box-1-container {
        flex: 1 1 0;
        height: calc(100% - 2px);
        margin-left: 10px;
        transition: height 0.2s;
        align-items: flex-end;
        > #intro-box-1 {
            height: calc(100% - 2px);
            animation: intro-box-1-init 0.4s ease-in 0s forwards;
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;
            border: none;
        }
    }

    .intro-box {
        border: solid 1px var(--color-light-grey);
        border-radius: 8px;
    }
}

@keyframes intro-box-1-init {
    from {
        height: 50%;
        background-size: contain;
    }
    to {
        height: calc(100% - 2px);
        background-size: cover;
    }
}

@keyframes intro-box-3-h1-init {
    from {
        right: 100px;
    }
    to {
        right: 0;
    }
}

@keyframes intro-box-3-content-init {
    from {
        right: -300px;
    }
    to {
        right: 0;
    }
}

@keyframes intro-box-4-init {
    from {
        margin-top: 500px;
    }
    to {
        margin-top: 0;
    }
}
