@use "@/mixins.scss" as *;

div.intro-box-1-container {
    display: flex;
    flex: 1 1 0;
    height: calc(100% - 2px);
    margin-left: 10px;
    transition: height 0.2s;
    align-items: flex-end;
    > div.intro-box-1 {
        @include border-light-grey;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: calc(100% - 2px);
        animation: intro-box-1-init 0.4s ease-in 0s forwards;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        border: none;
    }
}

@keyframes intro-box-1-init {
    from {
        height: 50%;
        background-size: contain;
    }
    to {
        height: calc(100% - 2px);
        background-size: cover;
    }
}
