#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex: 0 0 100%;
    color: var(--color-grey);
    > #intro-column-left {
        flex: 2 1 0;
        height: 100%;
    }

    .intro-box {
        border: solid 1px var(--color-light-grey);
        border-radius: 8px;
    }
}

@keyframes intro-box-1-init {
    from {
        height: 50%;
        background-size: contain;
    }
    to {
        height: calc(100% - 2px);
        background-size: cover;
    }
}

@keyframes intro-box-3-h1-init {
    from {
        right: 100px;
    }
    to {
        right: 0;
    }
}

@keyframes intro-box-3-content-init {
    from {
        right: -300px;
    }
    to {
        right: 0;
    }
}

@keyframes intro-box-4-init {
    from {
        margin-top: 500px;
    }
    to {
        margin-top: 0;
    }
}
