footer {
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    position: relative;
    display: block;
    width: 100%;
    a {
        color: var(--fg);
    }

    > svg {
        &.triangle {
            fill: var(--bg);
            -moz-transform: translateZ(0);
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            width: 100%;
        }
    }
    > .background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-attachment: fixed;
        background-size: 180px 180px;
        background-image: url("/img/pattern.png");
        background-repeat: repeat;
        background-color: var(--color-magnolia);
    }
    > .bg__container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        > .info {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 0 3.333333333em 0 14.666666667em;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: right;
            p {
                margin: 0;
            }
            > .social-bar {
                margin-bottom: 0.8rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    footer {
        > svg {
            &.triangle {
                height: 25vw;
            }
        }
        > .bg {
            > .bg__container {
                > .bg__main {
                    bottom: 5.452562704%;
                    > .bg__container {
                        > .logo {
                            max-width: 100px;
                            > img {
                                max-width: 120px;
                                width: 8.33333vw;
                                height: auto;
                            }
                        }
                        > .info {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            z-index: 50;
                            padding: 0 3.333333333em 0 14.666666667em;
                            font-size: 15px;
                            font-size: 1.07143rem;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            text-align: right;
                            color: var(--fg);

                            p {
                                margin: 0;
                            }
                            > .social-bar {
                                margin-bottom: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
    footer {
        > .bg {
            > .bg__container {
                > .bg__main {
                    > .bg__container {
                        > .info {
                            font-size: 1.04167vw;
                        }
                    }
                }
            }
        }
    }
}
